<h1>Результаты поиска</h1>

<% if @clothings.any? %>
  <% @clothings.each do |clothing| %>
    <div>
      <%= link_to clothing.name, clothing_path(clothing) %>
      <p><%= clothing.brand %> — <%= clothing.material %></p>
    </div>
  <% end %>
<% else %>
  <p>Ничего не найдено</p>
<% end %>