/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .star-rating {
    display: inline-block;
    font-size: 1.2em;
    position: relative;
  }
  
  .stars-outer {
    position: relative;
    display: inline-block;
    color: #ccc;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: gold;
  }
  
  .stars-outer::before,
  .stars-inner::before {
    content: "★★★★★";
    font-family: Arial, sans-serif;
  }
  .btn {
    font-family: 'Parisienne', cursive;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* небесно-синий */
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #2779bd; /* чуть темнее при наведении */
  }
  .title_style {
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    color: #4b4b4b;
    display: inline-block;
    margin-top: 0;
  }
  .title_style:hover {
    color: #3490dc; /* мягкий голубой при наведении */
  }
  .title_wrapper {
    text-align: center;
    margin-top: 20px;
    padding-top: 0px;
    margin-bottom: -80px;
  }
  .review_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
  }