.background_category {
    width: 100%; /* Позволяет контейнеру адаптироваться */
    min-width: 350px; /* Минимальная ширина */
    max-width: 700px; /* максимальная ширина */

    height: 100%; /* Высота меняется автоматически */
    min-height: 150px; /* Минимальная высота */
    max-height: 100%; /* Максимальная высота */

    background-size: cover; /* Заполняет контейнер */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Убирает повторение */

    display: flex; /* Располагает дочерние элементы в строку */
    align-items: center; /* Выравнивание по центру */
    justify-content: center; /* Выравнивание по центру */

    border-radius: 10px;  /* Скругление углов */
    border: 2px solid black; /* Рамка */

    margin: 20px auto; /* Центрирование + отступы */
  }

  /* Стили для ссылки */
  .container_category {
    position: absolute; /* Абсолютное позиционирование */
    right: 5px; /* Отступ справа */
    bottom: 5px; /* Отступ снизу */
    color: white; /* Белый цвет текста */
    font-size: 20px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    background: rgba(0, 0, 0, 0.5); /* Затемненный фон для читаемости текста */
    padding: 10px 20px;   /* Отступы внутри */
    border-radius: 5px; /* Скругление углов */
    transition: background 0.3s ease; /* Плавный эффект при наведении */
  }

  .background_category:hover .container_category {
    background: rgba(0, 0, 0, 0.8); /* Затемненный фон при наведении */
  }
